extends layout

block content
  body 
    .w3-card-4
      header.w3-container.w3-black
        h1= titulo
      .w3-container
        p
          a(href="/compositores") Compositores
        p
          a(href="/periodos") Periodos
      
    footer.w3-container.w3-black 
      address TPC6::EngWeb2024::a88220::#{data}